<div class="card my-5">
  <div class="row g-0">
    <div class="col-md-4 position-relative ">
      @if (product?.stock > 0) {
      <span class="badge stock bg-success">in stock</span>
      }@else {
      <span class="badge stock bg-danger">out of stock</span>
      }
      <img
        [src]="product?.thumbnail"
        class="img-fluid rounded-start bg-light"
        [alt]="product?.title"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title mb-3">{{ product?.title }}</h3>
        <div class="my-2">
          <span class="badge bg-primary me-3 p-2"
            >Category : {{ product?.category }}</span
          >
          <span class="badge bg-warning text-dark p-2"
            >Brand : {{ product?.brand || " " }}</span
          >
        </div>
        <p class="card-text">
          {{ product?.description }}
        </p>
        <ngb-rating class="text-warning fs-5" [rate]="product?.rating" />
        <br />
        <button class="btn btn-secondary my-2 addCart" (click)="addToCart()">
          Add to cart
        </button>
      </div>
    </div>
  </div>
</div>
