<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="handelSubmit()">
  <div class="form-group">
    <label for="email">Email Address:</label>
    <input
      type="email"
      id="email"
      class="form-control"
      formControlName="email"
    />

    @if (formSubmitted && registerForm.get('email')?.invalid) {
    <div id="nameError" class="form-text text-danger">
      @if (registerForm.get('email')?.hasError('required')) {
      <small>Email is required.</small>
      } @if (registerForm.get('email')?.hasError('email')) {
      <small>Invalid email format.</small>
      }
    </div>
    }
  </div>
  <!-- email ended -->

  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="name" class="form-control" formControlName="name" />
    @if (formSubmitted && registerForm.get('name')?.invalid) {
    <div id="nameError" class="form-text text-danger">
      @if (registerForm.get('name')?.hasError('required')) {
      <small>Name is required.</small>
      }
    </div>
    }
  </div>
  <!-- name ended -->
  <div class="form-group">
    <label for="username">Username:</label>
    <input
      type="text"
      id="username"
      class="form-control"
      formControlName="username"
    />
    @if (formSubmitted && registerForm.get('username')?.invalid) {
    <div id="nameError" class="form-text text-danger">
      @if (registerForm.get('username')?.hasError('required')) {
      <small>Username is required.</small>
      } @if (registerForm.get('username')?.hasError('containsSpace')) {
      <small>Username should not contain spaces.</small>
      }
    </div>
    }
  </div>
  <!-- username ended -->
  <div class="form-group">
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      class="form-control"
      formControlName="password"
    />

    @if (formSubmitted && registerForm.get('password')?.invalid) {
    <div id="nameError" class="form-text text-danger">
      @if (registerForm.get('password')?.hasError('required')) {
      <small>Password is required.</small>
      } @if (registerForm.get('password')?.hasError('weakPassword')) {
      <small
        >Password must be at least 8 characters long, contain an uppercase
        letter, a lowercase letter, a digit, and a special character.</small
      >
      } @if (registerForm.errors?.['passwordMismatch']) {
      <small>Passwords do not match.</small>
      }
    </div>
    }
  </div>
  <!-- password ended -->
  <div class="form-group">
    <label for="confirmPassword">Confirm Password:</label>
    <input
      type="password"
      id="confirmPassword"
      class="form-control"
      formControlName="confirmPassword"
    />

    @if (formSubmitted && registerForm.get('confirmPassword')?.invalid) {
    <div id="nameError" class="form-text text-danger">
      @if (registerForm.get('confirmPassword')?.hasError('required')) {
      <small>Confirm Password is required.</small>
      } @if (registerForm.errors?.['passwordMismatch']) {
      <small>Passwords do not match.</small>
      }
    </div>
    }
  </div>
  <!-- confirm password ended -->

  <div formArrayName="addresses">
    <div
      *ngFor="let address of addresses.controls; let i = index"
      [formGroupName]="i"
      class="d-flex justify-content-between align-items-center "
    >
      <div>
        <label for="address">Address {{ i + 1 }}</label>
        <input
          id="address"
          class="form-control"
          formControlName="address"
          placeholder="Enter Address"
        />

        <div
          *ngIf="formSubmitted && address.get('address')?.invalid"
          class="text-danger"
        >
          <small>Address is required.</small>
        </div>
      </div>

      <div>
        <label for="street">Street</label>
        <input
          id="street"
          formControlName="street"
          class="form-control"
          placeholder="Enter Street"
        />

        <div
          *ngIf="formSubmitted && address.get('street')?.invalid"
          class="text-danger"
        >
          <small>Street is required.</small>
        </div>
      </div>

      <div>
        <label for="country">Country</label>
        <input
          id="country"
          formControlName="country"
          class="form-control"
          placeholder="Enter Country"
        />
        <div
          *ngIf="formSubmitted && address.get('country')?.invalid"
          class="text-danger"
        >
          <small>Country is required.</small>
        </div>
      </div>

      <div>
        <label for="city">City</label>
        <input
          id="city"
          formControlName="city"
          class="form-control"
          placeholder="Enter City"
        />
        <div
          *ngIf="formSubmitted && address.get('city')?.invalid"
          class="text-danger"
        >
          <small>City is required.</small>
        </div>
      </div>

      <button type="button" class="btn btn-danger mt-3 " (click)="removeAddress(i)">
        Remove Address
      </button>
    </div>
    <button type="button" class="btn btn-secondary my-2" (click)="addAddress()">
      Add Address
    </button>
  </div>

  <button type="submit" class="btn btn-success my-2">Register</button>
  <h6 class="d-flex mt-2">
    Already have account!
    <a class="nav-link ms-2 text-decoration-underline" routerLink="/login"
      >Login</a
    >
  </h6>
</form>
